@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Montserrat:ital,wght@0,500;1,500&family=Quicksand&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.main{

    font-family: 'Montserrat', sans-serif;
    max-width:100%;
    height:100vh;
    padding-right:8%;
    padding-left: 8%;
    overflow: hidden;
   
}

#header{

    display:flex;
    flex-direction:row;
    align-items: center;
    margin-top:20px;
    
    
}

.logo{
    max-width:50px;
    cursor:pointer;
}

#nav-bar{
    flex:1;
    text-align:right;
}

.nav-link{
    list-style: none;
    display:inline-block;
    margin-right:30px;
}

.nav-link a{
    text-decoration: none;
    color:#000;
    font-size:14px;
    font-weight:900;
    transition:all 0.3s ease 0s;
    position:relative;
}

.nav-link a::after{
    position:absolute;
    content:"";
    left:0;
    bottom:-5px;
    width:0;
    height:2px;
    background-color: #ff5ea2;
    transition:all 0.3s ease 0s;
}

.nav-link a:hover::after{
    width:100%;
}

.store-button{

    width:80px;
    padding:10px 10px;
    border:none;
    border-radius:px;
    background-color:grey;
    font-family: 'Quicksand', sans-serif;
    font-size:14px;
    font-weight:700;
    background:linear-gradient(to right, #fb5283,#ff3527);
}

.store-button a{
    text-decoration:none;
    color:white;
}

.row{
   display:flex;
   justify-content: space-between;
   margin:100px 0px;
}

.col-1{
    flex-basis:40%;
    margin-left:50px;
    position:relative;
    transition:all 0.3s ease 0s;
}

.col-1 >h2{
    font-size:50px;
}

.col-1> h3{
    font-size:20px;
    color:#707070;
    margin:10px 0px;
}

.col-1> p{
    font-size:14px;
    color:#b7b7b7;
    margin-bottom:25px;
}

.col-1> h4{
    font-weight:900;
    font-size:16px;
    margin-bottom:20px;
}

.col-1> button{
    border:none;
    width:120px;
    padding:12px 10px;
    color:white;
    background:linear-gradient(to right, #fb5283,#ff3527);
    border-radius:5px;
    cursor:pointer;
    transition:all 0.3s ease 0s;
}

.col-1::after{
    content:"";
    width:10px;
    height:60%;
    background:linear-gradient(to right, #fb5283,#ff3527);
    position:absolute;
    left:-40px;
    top:5px;
}

.col-2{
    position:relative;
    flex-basis:60%;
    display:flex;
    align-items:center;
}

.controller{
    max-width:90%;
}

.color-box{
    position:absolute;
    background:linear-gradient(to right, #fb5283,#ff3527);
    border-radius:20px 0 0 20px;
    height:100%;
    width:80%;
    top:0;
    right:0;
    z-index:-1;
    transform:translateX(150px);
}

.add-btn{
    display:flex;
    flex-direction: column;
    align-items:center;
}
.add-btn>img{
    width:40px;
    margin-bottom:5px;
}

.add-btn>p{
    text-align:center;
    font-size: 10px;
    color:#fff;
}